apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output # This MUST match the Service selector
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
      - name: log-output
        image: ushakiran369/log-output:2
        ports:
          - containerPort: 3000 # Go app's PORT
