apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app # This MUST match the Service selector
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: ushakiran369/todo-app:v1.8
          ports:
            - containerPort: 3000 # Explicitly document the port
          env:
            - name: PORT
              value: "3000"
