# ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mooc-todo-app-ingress
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: todo-frontend-svc # Points to Frontend
                port:
                  number: 2345
