<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
<div class="flex-container">
	<div class="image-container">
		<img alt="" src={{ .Image }} width="400" height="500" />
	</div>
	<div class="todo-container">
		<form action="/create" method="POST">
			<input name="title" type="text" placeholder="What needs to be done?" id="todo-item" required/>
			<!--  -->
			<input type="submit" value="Add Task"/>
		</form>
		{{range .TaskList}}
			<p>
				{{Print .}}
			</p>
		{{end}}
	</div>
</div>
</body>
</html>
